.app {
    display: grid;
    place-content: center;
    height: 100vh;

    &--container {
        margin: 0 1rem;
        width: 22rem;
        box-shadow: 0px 0px 10px #595959;
        padding: 2rem;
        border-radius: .4rem;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.822074) 0%, rgba(0, 83, 207, 0.822074) 100%);

        @include respond(tablet) {
            width: 35rem;
        }

        &__title {
            font-size: 1.125rem;
            text-align: center;
            margin-bottom: 2.5rem;

            @include respond(tablet) {
                font-size: 2rem;
            }
        }

        &__btn {
            width: 100%;
        }

        &__distance,
        &__error {
            margin-top: 1.5rem;
            line-height: 1.5;
            text-align: center;

            @include respond(tablet) {
                font-size: 1.125rem;
            }
        }

        &__error {
            color: $errorColor;
        }

        &__miles {
            display: block;
            margin-top: 1rem;
            font-size: 1.25rem;
            color: $successColor;

            @include respond(tablet) {
                font-size: 1.3rem;
            }
        }

        &__spinner {
            padding: 1.5rem 0;
            display: flex;
            justify-content: center;
        }
    }
}